<p-card>
    <p-header>
        <h1 class="p-text-center">Happy to see you folks!!</h1>
    </p-header>
    <div class="p-grid">
        <div class="p-col">
            <p-card class="prime_card">
                <div class="p-text-center">
                    <a routerLink="primeng"><b>PrimeNG Datatables</b></a>
                </div>
            </p-card>
        </div>
        <div class="p-col">
            <p-card class="swimlane_card">
                <div class="p-text-center">
                    <a class="p-text-center" routerLink="swimlane"><b>Swimlane Datatables</b></a>
                </div>
            </p-card>
        </div>
    </div>
</p-card>